/packages/
/TestApp2.sln
/TestApp2.sln.DotSettings.user
/TestApp2/TestApp2.iOS/
/.idea/
/.vs/
/TestApp2/TestApp2.Android/Assets/AboutAssets.txt
/TestApp2/TestApp2.Android/bin/
/TestApp2/TestApp2.Android/obj/
