/TestApp2.sln
/TestApp2.sln.DotSettings.user
/.idea/
/.vs/
/TestApp2/TestApp2.Android/Assets/AboutAssets.txt
/TestApp2/TestApp2.Android/bin/
/TestApp2/TestApp2.Android/obj/
/TestApp2/TestApp2.iOS/.idea/
/TestApp2/TestApp2.iOS/.vs/
/TestApp2/TestApp2.iOS/bin/
/TestApp2/TestApp2.iOS/obj/
